# User-specific files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/httpRequests/
.idea/**/sonarlint/
http-client.private.env.json

# Build and ReSharper cache
bin/
obj/
/_ReSharper.Caches/

# Rider temporary files
riderModule.iml

# Rider local settings
.idea/.idea.*/.idea/vcs.xml

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
/.vs/
/TestResults/

# Other
/packages/
/artifacts/

# Nuget
*.nupkg
