## User-specific files
!.idea/vcs.xml
.idea/

## Build and ReSharper cache
bin/
obj/
out/
/_ReSharper.Caches/

## Rider temporary files
riderModule.iml

## Rider local settings
.idea/.idea.*/.idea/vcs.xml

## Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
/.vs/
/TestResults/

## Other
/packages/
/artifacts/

## Nuget
*.nupkg

## VS CODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json